{{- /*
Renders a custom menu with Archives, Notes, and Hirarchical links.

@context {page} page The current page.
*/}}


<nav class="nav">
  <ul id="menu">
      <!-- {{ printf "%#v" site.Menus.main  }} -->
      {{- $currentPage := . }}
      {{- range site.Menus.main }}
        {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) }}
        {{- $page_url_parse:= urls.Parse $currentPage.Permalink }}
        {{- $page_url:= $page_url_parse.Path }}
        <!-- {{ printf "%#v" $menu_item_url }}
        {{ printf "%#v" $page_url }} -->
        <li>
            <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }}"
              {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
              {{- .Name -}}
            </a>
        </li>
      {{- end }}
  </ul>
</nav>
