.step-item {
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    border-width: 1px;
    border-color: #e5e7eb;
    padding: 1rem;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-property: box-shadow;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

*, ::after, ::before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

.step-item:hover{
	--tw-shadow:0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
	--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
	box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}


.code-container {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    overflow: hidden;
    border-radius: 0.5rem;
    background-color: #111827;
    color: #f3f4f6;
}

.code-lines {
    display: flex
;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.line-numbers {
    -webkit-user-select: none;
    user-select: none;
    background-color: #1f2937;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: right;
    color: #9ca3af;
}

.line-number {
    display: block;
}

.code-content {
    flex: 1 1 0%;
    overflow-x: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.text-gray-600 {
    color: #4b5563;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.text-primary {
    color: #3b82f6;
}


.font-semibold {
    font-weight: 600;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

blockquote, dd, dl, figure, h1, h2, h3, h4, h5, h6, hr, p, pre {
    margin: 0;
}

.text-white {
    color: #fff;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.bg-primary {
    background-color: #3b82f6;
}

.rounded-full {
    border-radius: 9999px;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.w-6 {
    width: 1.5rem;
}

.h-6 {
    height: 1.5rem;
}

.flex {
    display: flex
;
}

.mr-2 {
    margin-right: 0.5rem;
}