.main {
    position: relative;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: var(--gap);
}


body {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
    font-size: 18px;
    line-height: 1.6;
    word-break: break-word;
    background: var(--theme);

    margin: 0 auto;
    margin-top: 0;
    max-width: calc(var(--main-width) + var(--gap) * 2);
    padding: calc(var(--spacing-unit) * 2);
    padding-top: 0;
}

*,::after,::before {
    box-sizing: border-box;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


// ============= Footer Start =============
.footer,
.top-link {
    font-size: 12px;
    color: var(--secondary);
}

.footer {
    max-width: calc(var(--main-width) + var(--gap) * 2);
    margin: auto;
    padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
    text-align: center;
    line-height: 24px;
}

.footer a {
    color: inherit;
    border-bottom: 1px solid var(--secondary);
}

.footer a:hover {
    border-bottom: 1px solid var(--primary);
}

.top-link {
    visibility: hidden;
    position: fixed;
    bottom: 60px;
    right: 30px;
    z-index: 99;
    background: var(--tertiary);
    width: 42px;
    height: 42px;
    padding: 12px;
    border-radius: 64px;
    transition: visibility 0.5s, opacity 0.8s linear;
}

.footer a:hover,
.top-link:hover {
    color: var(--primary);
}


// ============= Footer End =============



// ============= taxonomy Start =============
.terms-tags li {
    display: inline-block;
    margin: 10px;
    font-weight: 500;
}

.terms-tags a {
    display: block;
    padding: 3px 10px;
    background: var(--tertiary);
    border-radius: 6px;
    transition: transform .1s;
    text-decoration: none;
    color: var(--primary);
}
// ============= taxonomy End =============


// ============= page pagination Start =============
.post-pagination {
    justify-content: space-between;
}
// ============= pagepagination End =============