.search-container {
    position: relative;
    width: 600px;
    margin: 20px auto;
}

.search-header {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
}

.search-container:hover .search-header,
.search-input:focus ~ .search-header {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
}

.search-icon {
    color: #888;
    font-size: 18px;
    margin-right: 10px;
}

.search-input-container {
    flex-grow: 1;
}

.search-input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 5px 0;
    background: transparent;
}

.search-input::placeholder {
    color: #bbb;
    transition: color 0.3s ease;
}

.search-input:focus::placeholder {
    color: #ddd;
}

.popup-btn-close {
    color: #888;
    font-size: 20px;
    cursor: pointer;
    padding: 3px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
}

.popup-btn-close.visible {
    opacity: 1;
    visibility: visible;
}

.popup-btn-close:hover {
    color: #333;
}

.search-popup {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    // border: 0.5px solid rgba(215, 201, 201, 0.345);
    margin-top: -2px;
    padding: 15px 0;
    max-height: 500px;
    overflow-y: auto;
    z-index: 10;
    display: none;
    animation: fadeIn 0.2s ease;
}

/* 上下文文本样式 */
.search-result-context {
    // margin: 8px 0;
    font-size: 14px;
    color: #555;
    line-height: 1.6;
    border-bottom: 1px dashed #ccc;
}

/* 元信息样式 */
.search-result-meta {
display: flex;
gap: 12px;
font-size: 12px;
color: #999;
// margin-top: 4px;
}

.search-popup.visible {
    display: block;
}

.search-result-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.search-result-list li {
    padding: 0 15px;
}

.search-result-title {
    font-weight: bold;
    display: block;
    // padding: 10px 5px 0px 0px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.search-result-title:hover {
    background-color: #f5f7fa;
}

.search-keyword {
    color: #ff2a2a;
    font-weight: bold;
}

.no-results {
    padding: 20px 15px;
    color: #888;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}